	


<tr>
		<td> <b>Name</b>   </td>
		<td> : </td>
		<td>	 <%= text_field 'artist', 'name' %>	</td>
	</tr>
	
	<tr><br>
		<td>  <b>Active Users</b>   </td>
		<td> : </td>
		<td> <%= text_field 'artist', 'active_users' %></td>
	</tr>

	<tr>
		<td>  <b>Biography</b>   </td>
		<td> : </td>
		<td> <%= text_area 'artist', 'biography' %>
	
		</td>

	</tr>
		<tr>
		<td></td>
		<td></td>
		<td align="center"> <%= image_submit_tag("1878759-submit-button.jpg",:height => '50', :width => '90') %></td>
	</tr>
