<% @page_tittle = "Login"%>

<%= stylesheet_link_tag "login-box.css" %>
<h1 align="center">Music Library Admin</h1>
<div style="padding: 0px 00px 0px 100px; padding-top: 0px;">
<div style="background-image: url(/images/login-box-backg.png); height: 352px; width: 333px; font: 12px Arial, Helvetica, sans-serif; padding: 58px 76px 0 76px; color: #ebebeb;">
<% form_tag :action => 'send_login' do %>
<H2>Login</H2>
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
<br />
<br />
<div id="login-box-name" style="margin-top:20px;">Email:</div>
<div id="login-box-field" style="margin-top:20px;"><%= text_field :admin, :name,:class=>"form-login" %></div>
<div id="login-box-name">Password:</div><div id="login-box-field">
 <%= password_field(:admin, :password, :class => "form-login") %>
	<%#= text_field 'admin', 'password',:class=>"form-login" %>
</div>
<br />
<span class="login-box-options"><input type="checkbox" name="1" value="1"> Remember Me <a href="#" style="margin-left:30px;">Forgot password?</a></span>
<br />
<br />

	<div style="margin-left:90px;">
	<%= image_submit_tag("login-btn.png",:width => "103",:height=>"42") %>


<% end %>
</div>

</div>
