<h1>New feature</h1>

<% form_for(@feature) do |f| %>
 <table>
 	<tr>
 		<td colspan="2">  <%= f.error_messages %></td>
 	</tr>
 <tr>
 	<td><b>Feature</b></td>
	<td> <%= text_field 'feature', 'name' %></td>
 </tr> 	

 </table> 
  <p>
    <%= f.submit "Create", :controller => 'features' ,  :action => 'create'  %>
  </p>
<% end %>

<%= link_to 'Back', features_path %>
